
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


.top-bar{
    background: #ffffff;
    height: 75px;
    padding: 15px 0;
    margin-bottom:15px;
}

.container  {
       margin: 0 auto;
       padding-left: 15px;
       padding-right: 15px;
}

.col-3  {
    width: 33.3333%;
    float: left;
}

.logo  {

    text-align: center;
    overflow:  ;
}

.top-bar .logo h1 {
    margin: -4px 0 0 0;
    color: #ffa500;;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    font-style: italic;
   }

   .top-bar .logo h1 span {
    color:#6273f3;
}

.col-9 { 
    float: right;
    width: 66.66%;
}

.item {
    width: 33.33%;
    float: left;
}

.top-bar-icon{
    float: left;
    width: 40px;
    text-align: center;
    height: 40px;
    padding: 7px 0;
    background-color: #6273f3;
    border-radius:0%;
    color: whitesmoke;
}

.top-bar-text{
    float: right;
    width: 78.66%;
    padding-left: 20px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.top-bar .top-bar-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav-bar{
    width: 100%;
    background-color:#ffa500;
}

.navbar-content{
    padding: 0px ;
    margin-top: 9px;
}

.navbar-content  li {
    float: left;

}

.navbar-content ul a {
    display: inline-block;
    color: #ffffff;
    padding: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    float: left;
}

.navbar-content li a {
    display: inline-block;
    color: Black;
    padding: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size:18px;
}

.navbar-content li a:hover{
color:  #6273f3;
}

.navbar-content  {
    float: left;
    width: 75%;
    padding-left:0px ;


}

.button{
    padding: 15px 0 0 0;

}
.button button {
    padding: 10px 30px 12px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0px;
    color: white;
    background: #6273f3;
    box-shadow: inset 0 0 0 0 #e81c2e;
    float: right;
    width: 25%;
    font-size:700;
     margin-top: -15px ;
    margin-bottom:;
        margin-right: -15px;
    height:66px;
    border:none;
    cursor:pointer;
}

 .dropdown {
    position: relative;

}

 .dropdown-content{
    position: absolute;
    background-color: #ffa500;
    display: none;
}
.dropdown-content {
   text-align: center;
   overflow: hidden;
   z-index: 2;
}

.dropdown-content  a:not(:last-child) {
    display: block;
    color: black;
    padding: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-resoponsive {
    background-color:#ffa500;
    width: 100%;
}
.navbar-resoponsive a {  
    display: inline-block;
    color: black;
    padding: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
    transition: 0s;
}

.navbar-resoponsive a:hover{
    color: #6273f3;
    letter-spacing:1.5px;
}

.navbar-resoponsive button{
 display: inline-block;
 color: #ffffff;
 padding: 0px 15px 0px 15px;
 font-weight: 500;
 letter-spacing: 1px;
 background-color: #6273f3 ;
margin-right: 15px;
margin-bottom: -11px;
    top: 1px;
    right: 0;
    position:;
    transition:0.5s;
    margin-top:-15px;
    border: none;
    margin-right: -30px;
    font-size: 25px;
    
    height: 54px;
}
.navbar-resoponsive button:hover{
    color:white;
}

.menu-bar-links a{
    display: block;
}

@media only screen and (min-width: 792px){
    .navbar-resoponsive{
        display: none;

    }
}

.container .caraousel {
    position: relative;
   

   
}

.container .text{
    display:none;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
 
}

.@media(max-width: 992px){

    .nav { display:none }
}
}

.container .responsive {
  width: 100%;
  max-width:;
  height:100%;
}

.container .text h3 {
    color: #E81C2E;
    
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.container .text h1 {
    color: #ffffff;
    
    font-weight: 700px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
 

.container .text p {
    
    color: #ffffff;
    
    margin-bottom: 40px;
}

.btn.btn-custom {
    padding: 10px 30px 12px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #6273f3;
    border: none;
    border-radius: 0px;
    box-shadow: inset 0 0 0 0 #202c45;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    }

    .btn {
        display: inline-block;
    }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: %;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:#6273f3;
    color:white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
    
    

}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.col-6-1 {
    max-width: 100%;
    float: left;
    padding: 0 15px 0 15px;
}

@media(min-width:992px){
    .col-6-1{
        max-width:50%;
    }
}

.col-6-2 {
    max-width: 100%;
    float: right;
    padding: 0 15px 0 15px;
    margin-top:30px;
}

.about .container-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
        align-items: center;
    justify-content: center;
}
    
}

@media only screen and (min-width: 992px) {
.col-6-1 {max-width: 50%;}
}
@media only screen and (min-width: 992px){
.col-6-2 {max-width: 50%;}
}

.about .section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    text-align:center;
   
}

.about .about-content {
    margin-bottom: 30px;
}

.about .about-content ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    margin-bottom: 9px;
    font-size:px;
}

.about .about-content ul li i {
    margin-right: 8px;
    color: #f29c00;
}

body {
    color: #444444;
    font-weight: 400;
    background: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    text-align: left;
}

.section-header p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ffa500;
}
.section-header h2 {
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #ffa500;
}

.section-header.text-left p::after {
    left: 0;
}

.services .col-6, .services .col-3 {
    width: 100%;
    padding-left:px;
    text-align:center;
    padding-right:px;
}



 
@media  (min-width: 762px) {
.services .col-6 {
    width: 100%;
    padding: 0 30px
}
}

@media  (min-width: 992px) {
  .services .col-3 {
    width: 33.33%;
}
}
.services {
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
    background-color:#f9f7f5;
    margin-top: 50px
}

.services . i {
    color: #202C45;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
}

.services h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.text-center {
    text-align: center!important;
}

.services [class^="flaticon-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#6273fe, #6273fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

.flaticon-car-wash-1:before {
    content: "\f100";
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}
.services .service-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    margin-top: -12px
}

.services .service-item i {
    color: #202C45;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
}

.wrapper: {
 width: 25% auto;
}

.facts {
    
    width: 100%;
   
    margin: 45px 0;
    display: flex;
    align-items: center;
    background:#ffa500;
    padding:74px 0px;
}

.facts .col-lg-3, .facts .col-lg-6{
display:flex;
margin:15px 0px;
justify-content:center;
width:  100%;
}

@media( min-width : 762px){
 .facts .col-lg-3   {width: 50%}
}

@media( min-width : 992px){
   .facts .col-lg-6 { width:25%}
}

.facts .facts-item{
    float:  left;
    margin-top: 15px;
    font-size: 45px;
    color: #6273f3;
}

.facts .facts-text {
    float:  left;
    padding-left: 20px
}


.facts .facts-text h3::after {
    position: absolute;
    content: "\f067";
    top: 0px;
    right: -25px;
    color: black;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.facts .facts-text h3 {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 60px;
    font-weight: 700;
}

.facts .facts-text p {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.counterfloat{
    float:  left;
}


.price {
    text-align: center;

}

.price p {
    color: orange;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.price p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: orange;
}

.price h2 {
    font-size:  45px;
    font-weight: 700;
    margin-top:  5px;
    text-transform: capitalize;
    padding-bottom:0px;
}

@media(max-width:792px){
    .price h2 {
        font-size:30px;
    }
}

.column-card {
    width: 100%;
    text-align: center;
    float: left;
    padding-bottom:20px;
}

.column-card h2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
}

.column-card h2 span {
    font-size: 25px;
    line-height: 55px;
}

.column-card strong {
    font-weight: bolder;
}


.column-card h2 span {
    font-size: 25px;
    line-height: 55px;
}

.column-card h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 0px;
}

.column-card ul li{
    padding-bottom: 15px;
}

 .column-card ul li i.fa-check-circle {
    color: #ffa500;
}

.column-card  ul li i {
    margin-right: 10px;

}

.column-card ul li i.fa-times-circle {
    color: #cccccc;
}

.card-footer{
    padding-bottom: 15px;
    padding-top: 15px;
}

.card-footer a {
    background-color: #6273f3;
    padding: 10px 30px 10px 30px;
    border-radius: 0px;
    color:white;
    display: inline-block;
}

.price{
    padding-bottom: 8px;
    margin-top: 71px;
}

 .shadow { 
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    z-index: 1;
     padding-top:26px;
     border-radius:18px;
     margin-bottom:26px;
}

@media(min-width: 762px){

    .column-card {width:33.33%}
    }

.location-form {
    padding:  65px 0 65px 0;
    background-color:#f9f7f5;
    margin: 50px 0px;

}

.location-form .col-7 {

    float: left;
    width: 100%;
}


.location-form .col-5 {
    float:  left;
    width: 100%;
}

.location-form .header p {

    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: orange;
}

.location-form .header {
    margin-bottom: 5px;
    text-align:center;
}

.location-form .header p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 0%;
    bottom: 0;
    background: orange;
}

.location-form h2 {
text-transform: capitalize;
font-size: 45px;
font-weight: 700;
}

@media(max-width:792px){
    .location-form h2 {
        font-size:22px;
    }
}
.location-form .col-6 {
    width: 50%;
    display: flex;
    padding-top: 15px;
    float: left;
    margin-bottom: 30px;
    justify-content:center;
}

 .location-text {
    
    padding-left: 15px;
}

.location-text h3{
 text-transform: capitalize;
 font-weight: 700;
 font-size: 16px;
}

.location-text .para {
    text-transform: capitalize;
}

.location-form i {
    padding-top: 3px;
    font-size: 30px;
    color: #6273f3;
}

.location-form .col-5 {
    padding: 50px 15px 50px 15px;
    width: %;
    background-color: orange;
    text-align: center;
    border-radius: 60px;
    margin-top: 25px;

}

.location-form .col-5 h3{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700px;
    color:  black;
    text-transform: capitalize;
}

.location-form .col-5 .control-group{
    margin-bottom: 15px
}
.location-form .col-5 .control-group .form-control{
    height: 45px;
    color: black;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: ;
    width: 100%;
}

  .control-group .control {

 background-color: white;
  height: 120px;
    padding: 15px;
overflow: auto;
    resize: vertical;
    width: 100%;
}

@media( min-width: 842px){

 .location-form .col-7  {width: 70%}
}

@media( min-width: 842px){
  .location-form .col-5 {
    width: 30%;
    margin-top: 0px
  }  
}

@media(max-width: 562px){
.location-form .col-6{
    width:  100%;
    }
}

.team {
    text-align: center;
    margin: 25px 0 34px;
}
.team .txt p {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: orange;
}

.team  h3 {

    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 15px;
}


@media(max-width:779px){
    .team  h3 {
        font-size:23px;
    }
}

 .team .txt  p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: orange;
}


.team .col-4 {
    width: 25%;
  margin-top: 25px;
    margin-bottom: 25px;
    float: left;
    padding: 0 15px 0 15px;

}

.team .col-4 .image-section {
    position:  relative;
    overflow:  hidden;

}

.team .col-4 .image-section img {
    width: 100%;
    transition: .3s;
    vertical-align: middle;
}

.team .col-4 .image-section:hover img {
    transform: scale(1.1);
}


.team .image-text {
    position: relative;
    width: 100%;
    padding: 35px 30px 30px 30px;
    text-align: center;
    background: orange;
    border-radius: 0 0 5px 5px;
    transition: .5s;
}


.team .image-text h2 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}


.team .image-text p {
    margin: 0;
    color: black;
}


.team .team-social {
    position: absolute;
    width: 100%;
    height: 40px;
    top: -20px;
    left: 0;
    text-align: center;
    font-size: 0;
}


.team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    color: black;
    background: orange;
    border-radius: 40px;
    transition: .5s;
}

.team .col-4:hover .image-text p {
    color:white;
}

.team .col-4:hover .image-text h2{
    color:white;
}


.team .col-4:hover .image-text {
    color: white;
    background: #6273f3;
}


.team .image-text:hover  {
    background:#6273f3;
}



.team .col-4:hover .team-social a {
    background:#6273f3;
    color:white
}

.team .team-social a:hover {
    color: white;
}


@media(max-width: 992px){
  .team .col-4 { 
      width: 50%;
}

}

@media(max-width:562px){
    .team .col-4 { width: 100%}
}



.testemonial .txt {
    text-align: center;
}

.testemonial .txt p {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: red;
}


.testemonial  h2 {

    margin: 0;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 15px;
}

 .testemonial .txt  p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #E81C2E;
}


 .testimonial {
    position: relative;
    width: 100%;
    padding: 45px 0;
     background-color: #f9f7f5;
     margin-bottom:45px;
}



.testimonial .testimonials-carousel {
    position: relative;
    width: calc(100% + 30px);
    margin: 0 -15px;
}

.testimonial .testimonial-item {
    position: relative;
    width: 100%;
    padding: 0 15px;
    display: flex;
}

.testimonial .testimonial-item img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    transform: scale(.8);
    transition: 2s;
}

.testimonial .owl-item.center .testimonial-item img {
    transform: scale(1);
}

.testimonial .testimonial-text {
    width: calc(100% - 100px);
    padding-left: 20px;
}

.testimonial .testimonial-text h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.testimonial .testimonial-text h4 {
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial .testimonial-text p {
    margin: 0;
}

.testimonial .testimonial-text p::before {
    content: "\f10d";
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: orange;
    margin-right: 10px;
}

.testimonial .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
}

.testimonial .owl-dot.active {
    background: orange;
}

.section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
   margin: 0 auto 45px auto;
}

.text-center {
    text-align: center!important;
}


.blog {
    padding:  15px 0 15px 0 ;
}

.blog .txt{
    text-align: center;
}

.blog .txt  p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: orange;

}

.blog .txt p {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: orange;
}

.blog h2 {

    margin: 0;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 15px;
}

.blog .post {
padding: 0px 0 25px 0;
}


.blog .post .col-4 {
 width: 33.33%;
 float:  left;
 padding-left: 15px;
 margin-top:15px;
}

.blog .image { 

    position: relative;
}

.image img {
    border-radius: 5px;
    width: 100%;
}

.image-meta {
    margin-top: 16px;
    text-align:center;
    color:orange;
    margin-left:22px;

}

.image-meta p {

    float:  left;
    padding:  0 0 0  10px;
    font-size: 14px;
    line-height: 14px;
    border-right: 1px solid rgba(0, 0, 0, .15);
    width: 33.33%;
    
}



 .image-meta p:last-child {
    padding-right: 0;
    border: none;

}

.image-meta a {
    padding-left: 5px;
    color:black;
    font-weight:700;
}

.image-meta a:hover{
  color:#6273f3;
}

.image-meta p:first-child {
    padding-left: 0;
    width:26%;
}

.image-meta i {
    color: orange;
    margin-right: px;
}
.image-meta i:hover { 
    color:#6273f3;
}
.image {
    position: relative;
    width: 100%;
}


.blog .image .meta-date {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 10%;
    left: calc(50% - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    background:#6273f3;
    color: #ffffff;
    opacity: 0;
    transition: .5s;
}

.blog .image .meta-date span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.blog .image .meta-date strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.blog .image .meta-date span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.blog .image-text a:hover{

    color: red;
}

@media(max-width: 992px) {

 .blog .post .col-4{
    width: 100%;
    padding-top: 15px;
     padding-left:0px;
}
}

.blog .image:hover .meta-date {
    bottom: calc(50% - 35px);
    opacity: 1;
}



.footer {
    padding: 25px 0 25px 0;
    background-color: orange;
    margin-top: 36px;
}

.footer .col-4{
    width: 25%;
    color:  black;
    text-align: ;
    float: left;
    margin-left: 45p;
    margin-right: 45p;
}

.footer .col-4 h1 {
 
 margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
}
.footer .col-4 p{

    margin-bottom: 25px;
}
.footer .col-4 p i {

    width:  25px;
}

.footer-social {
    margin-top: 25px;
}

.footer-social a {
    float:  left;
    color: #202C45;
    background-color: #ffffff;
    border-radius: px;
    text-align: center;
    padding: 9px 0px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    transition:  .5s;
}

.footer-social a:hover {
    color:  white;
    background-color: #6273f3;

}

.footer .list a {
color:  black;
margin-bottom: 25px;
display: block;
transition: .5s;
}

.footer .list a:hover{
    color:  #6273f3;
    letter-spacing: 1.5px;
}

.footer .list a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.footer .form {
    text-align: center;
}

.footer input {
    width: 100%;
    height: 45px;
    border: 1px solid white;
    color: #ffa500;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;

}


.footer .btn.btn-custom {
    width: 100%;
    background-color:  #6273f3;
    box-shadow: inset 0 0 0 0 #e81c2e;
    width: 100%;
    color: white;
    background: ;
}

@media( max-width: 992px){
 .footer .col-4{ width: 50%;
    margin-top: 15px;
   }
}

@media(max-width: 772px){
    .footer .col-4{
 width: 100%;
}
}

@media(max-width: 992px){
.top-bar .col-9{
    display: none;
}
}
@media(max-width: 992px){
    .top-bar .col-3{
        margin: 0 auto;
        float:  none;
        width: 100%;
    }
}

.nav-bar.nav-sticky {
    position: sticky;
    width: 100%;
    top: 0px;
    left: 0;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    z-index: 999;
}

@media(max-width: 992px){
   .navbar-content{
       display:none;
    position:relative;
    }
}

@media(max-width: 992px){
   .button button {
    display: none;
  }
}

@media(max-width: 992px){
    .navbar-resoponsive { 
        display: block;
    }
}



.backtotop {
    position: fixed;
    display: no;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: .5s;
    background: #ffa500;
    border-radius: 44px;
    z-index: 9;
}


.backtotop i {
    color: #ffffff;
    padding-top: 10px;
}

.backtotop:hover {
    background:#6273f3;
}

@media(max-width: 792px){

.section-header h2 {
    font-size: 28px;
}
}

.navbar-outer {
    margin-top:  -25px;
}


@media(max-width: 550px){
    .container .text{ display: none;}
}
    .image-text a{
        color: black;
}

.image-text a:hover{
    color:#6273f3!important;
}

.services .section-header{
    margin:;
}

.about .section-header{
    margin:;
}

@media(max-width:792px){
    .services h3 {
        font-size:17px;
    }
    .blog h2{
        font-size:26px;
    }
}
.about-content p{
    text-align:center;
    margin-top:-33px;
}

    .caraousel .image-text{
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
     margin:0;
     color: white;
     font-size: px;
        transition: 0.5s;
  }  

 

 @media( max-width:762px){

  .caraousel .image-text h1 {
     font-size: 29px;
  }
}

@media( max-width:492px){

  .caraousel .image-text h1 {
     font-size: 13px;
  }
}

 .caraousel img  {
     filter:brightness(0.5);
    width: 100%;
    height: 100%;
}
   @media(min-width:992px){
       .mtr {
           margin-top: -262px;
       }
       
       .mt2{
           margin-top:-262px;
       }
}

.dollarPrice{
    color: #6273f3;
}
